@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow: hidden;
    background-color: #909de9;
}

* {
    box-sizing: border-box;
}

/* #searchContainer {
    display:flex; 
}

#searchContainer #searchBtn {
    background: url(search-outline.svg) no-repeat 5px 5px;
    background-color: white;
    background-size: 30px;
    height: 40px;
    width: 40px;
    border: none;
    cursor: pointer;
}

#searchContainer #searchBar {
    border: none;
    width: 0;
    padding: 0px;
    font-size: 18px;
    transition: width 0.7s;
}

#searchContainer.active #searchBar {
    width: 200px;
    padding: 8px;
    transition: padding 0 0.7s;
} */

#searchContainer {
    display:flex; 
    width: 300px;
}


#searchContainer #searchBtn {
    background: url(search-outline.svg) no-repeat 5px 5px;
    background-color: white;
    background-size: 30px;
    height: 40px;
    border: none;
    cursor: pointer;
    flex: 40px 0 0;
}

#searchContainer #searchBar {
    border: none;
    min-width: 0;
    flex: 0px 0 1;
    padding: 0;
    font-size: 18px;
    transition: flex 0.7s;
}

#searchContainer.active #searchBar {
    flex: 0px 1 0;
    padding: 8px;
    transition: flex 0.7s;
} 
